{
	rabbit_mq => {
		host => 'rabbit.yourhost.server',
		conn_params => {
			timeout=> 10,
			# port => 5671, defaults to 5671 with ssl, 5672 otherwise
			heartbeat => 1,
			ssl => 1,
			ssl_verify_host => 1,
			ssl_cacert => '/location/of/your/ca/here.pem',
			user => 'dauser',
			password => 'dapassword',
			channel => 1,
			# queue => '', defaults to empty
			exchange => 'daexchange',
			routing_key => 'your.routing.*.key.#',
		}
	},
	endpoints => {
		service_name_1 => {
			url => 'http://127.0.0.1:3000/',
			method => 'post',
			# == OPTIONAL ==
			# - Custom body parser: JSON is the default when not specified
			# body_parse => sub { $body, $message }
			#
			# - Modify the request before is sent
			# pre_request => sub { $req }
			#
			# - Error handler: called when the request returns status <200 & >299
			# on_error => sub { $response, $amqp_message }
			#
			# - Message filter: return 1 to accept a message, 0 to skip it.
			# message_filter => sub { $amqp_message }
		}
	}
}
